<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Airline Flights</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" ></script>
    <script src="./js/app.js" />
    <script src="./js/directives/flights/flights-directive.js" />
    <script src="./js/directives/flights/flights-controller.js" />
    <script src="./js/services/flights-service.js" />
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Airline Flights</a>
        <form class="form-inline mt-2 mt-md-0">
            <input type="text" ng-model="flights.search" class="search-query" id="projects_search1" placeholder="Busca" />
        </form>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">
                <h1></h1>
                <div>
                    <flights-list ></flights-list>
                </div>
                <hr />
                <footer>
                    <div class="col-lg-12">
                        <p>Copyright &copy; fabiosjc@2017</p>
                    </div>
                </footer>
            </main>
        </div>
    </div>
</body>
</html>